<div class="w-full px-5 py-3">
  <%= form_with(model: [@single_room, @message], remote: true, class: "w-full h-12 flex justify-between items-center border border-transparent bg-gray-700 rounded-lg") do |f| %>
    <%= f.text_field :body, class: "w-full border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white",
                     placeholder: "Type your message", autocomplete: 'off' %>
    <% f.submit data:{disable_with: false} %>
  <% end %>
</div>