<div class="w-full max-w-lg mx-auto">
  <%= form_with(model: [@new, @comment], local: true) do |c| %>
    <div>
      <%= c.text_area :body, class: "block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-md border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Leave a comment..." %></br>
      <div class="actions mb-12">
        <%= c.submit "submit", class: "px-8 py-2 font-semibold border rounded border-white text-white cursor-pointer hover:border-blue-500 hover:text-blue-500" %>
      </div>
    </div>
  <% end %>
</div>